<a href="https://colab.research.google.com/github/NUELBUNDI/PDS_PROJECT/blob/main/mpesa_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [237]:
import io
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [238]:
url="https://raw.githubusercontent.com/NUELBUNDI/PDS_PROJECT/main/mpesa_payment.csv"
df=pd.read_csv(url,encoding = "ISO-8859-1")

In [239]:
df.head(2)

  Posting Date Source Code  Dimension Set ID  ...  Drawer Name  Open Entry No.
0   28/01/2022      GENJNL              7985  ...          NaN  True   7059713
1   28/01/2022      GENJNL               667  ...          NaN  True   7059707

[2 rows x 22 columns]

##Cleaning of data

In [240]:
class  clean_data:

  def __init__(self,data_frame):
    self.data_frame=data_frame

  def clean_data(self):
      # rename the columns name
      col_name=[]
      new_colname=[]
      for colname in self.data_frame.columns:
        col_name.append(colname)
        output=colname.replace(' ','').replace('.','').lower()
        new_colname.append(output)
      col_rename_dict={col_name[i]:new_colname[i] for i in range(len(new_colname))}
      self.data_frame.rename(columns=col_rename_dict,inplace=True)
      # Subset the data
      df2=self.data_frame[['postingdate','documentno','externaldocumentno','amount','businessunitcode','departmentcode','balaccountno','description','userid']]

      return df2                     

obj=clean_data(df)

df2=obj.clean_data()

In [241]:
def convert_amount(val):
  res=val.replace(',','').replace('-','')
  return res

df2['amount']=df2['amount'].apply(lambda x :convert_amount(x)).astype('float')
df=df2

df.head(2)

  postingdate documentno  ...                                description   userid
0  28/01/2022  MED032911  ...        MEDICAL REFUND - JOAN SHARON MUYERA  PGAKONO
1  28/01/2022  MED032948  ...  MEDICAL REFUND - ABDIKADIR IBRAHIM DIRIYE  PGAKONO

[2 rows x 9 columns]

In [242]:
pd.set_option('mode.chained_assignment', None)

df['postingdate']=pd.to_datetime(df['postingdate'])
df['businessunitcode']=df['businessunitcode'].astype('str')
df['departmentcode']=df['departmentcode'].astype('str')

In [243]:
df['type']=df['documentno'].str[:3]

In [244]:
for x in df['type'].unique():
    print(x,end=',')

MED,PC0,FLT,CRE,GJN,JJN,R00,C00,

In [245]:
mask=df['type'].str.contains('MED|PC0|FLT|CRE|GJN')
df[mask]

     postingdate  documentno  ...   userid  type
0     2022-01-28   MED032911  ...  PGAKONO   MED
1     2022-01-28   MED032948  ...  PGAKONO   MED
2     2022-01-28   MED032947  ...  PGAKONO   MED
3     2022-01-28   MED032946  ...  PGAKONO   MED
4     2022-01-28    PC015778  ...  PGAKONO   PC0
...          ...         ...  ...      ...   ...
9826  2021-01-09   FLT003149  ...   FMUEMA   FLT
9827  2021-01-09  CREF001285  ...   LBUNDI   CRE
9828  2021-01-09  CREF001284  ...   LBUNDI   CRE
9829  2021-01-09  CREF001283  ...   LBUNDI   CRE
9830  2021-01-09  CREF001280  ...   LBUNDI   CRE

[9817 rows x 10 columns]

In [246]:

df=df.query('balaccountno=="P100500" & type=="GJN"')
pattern='casual payment'

mask=df['description'].str.contains(pattern,case=False,na=False)

df[mask]

     postingdate documentno  ...  userid  type
448   2022-01-21   GJN22981  ...  LBUNDI   GJN
803   2022-01-17   GJN22989  ...  LBUNDI   GJN
891   2022-01-14   GJN22982  ...  LBUNDI   GJN
1400  2022-07-01   GJN22983  ...  LBUNDI   GJN
3923  2021-11-30   GJN21550  ...  FMUEMA   GJN
3924  2021-11-30   GJN21549  ...  FMUEMA   GJN
3925  2021-11-30   GJN21548  ...  FMUEMA   GJN
5105  2021-11-15   GJN21002  ...  FMUEMA   GJN
5122  2021-11-15   GJN21002  ...  FMUEMA   GJN
5250  2021-11-14   GJN21005  ...  FMUEMA   GJN
5255  2021-11-14   GJN21011  ...  FMUEMA   GJN
5256  2021-11-14   GJN21010  ...  FMUEMA   GJN
5258  2021-11-14   GJN21008  ...  FMUEMA   GJN
5259  2021-11-14   GJN21007  ...  FMUEMA   GJN
5260  2021-11-14   GJN21006  ...  FMUEMA   GJN
5261  2021-11-14   GJN21005  ...  FMUEMA   GJN
7481  2021-09-10   GJN20150  ...  FMUEMA   GJN
7482  2021-09-10   GJN20149  ...  FMUEMA   GJN
7935  2021-09-30   GJN19721  ...  FMUEMA   GJN
7958  2021-09-30   GJN19639  ...  FMUEMA   GJN
7959  2021-09-30   GJN19638  ...  FMUEMA   GJN
8827  2021-09-16   GJN19317  ...  FMUEMA   GJN
8831  2021-09-16   GJN19313  ...  FMUEMA   GJN
8832  2021-09-16   GJN19312  ...  FMUEMA   GJN
9489  2021-06-09   GJN18971  ...  FMUEMA   GJN
9490  2021-06-09   GJN18970  ...  FMUEMA   GJN

[26 rows x 10 columns]

In [248]:
df.to_csv('excel.csv')

In [247]:
df.shape

(66, 10)