<a href="https://colab.research.google.com/github/NUELBUNDI/PDS_PROJECT/blob/main/mpesa_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [234]:
import io
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [235]:
url="https://raw.githubusercontent.com/NUELBUNDI/PDS_PROJECT/main/mpesa_payment.csv"
df=pd.read_csv(url,encoding = "ISO-8859-1")

In [236]:
df.head(1)

  Posting Date Source Code  Dimension Set ID  ...  Drawer Name  Open Entry No.
0   28/01/2022      GENJNL              7985  ...          NaN  True   7059713

[1 rows x 22 columns]

In [237]:
df.to_csv("data.csv")

##Cleaning of data

In [238]:
class  clean_data:

  def __init__(self,data_frame):
    self.data_frame=data_frame

  def clean_data(self):
      # rename the columns name
      col_name=[]
      new_colname=[]
      for colname in self.data_frame.columns:
        col_name.append(colname)
        output=colname.replace(' ','').replace('.','').lower()
        new_colname.append(output)
      col_rename_dict={col_name[i]:new_colname[i] for i in range(len(new_colname))}
      self.data_frame.rename(columns=col_rename_dict,inplace=True)
      # Subset the data
      df2=self.data_frame[['postingdate','sourcecode','documentno','externaldocumentno','amount','businessunitcode','departmentcode','balaccountno','description','userid']]

      return df2                     

obj=clean_data(df)

df2=obj.clean_data()

In [239]:
def convert_amount(val):
  res=val.replace(',','').replace('-','')
  return res
df2['amount']=df2['amount'].apply(lambda x :convert_amount(x)).astype('float')
df=df2

df.head(2)

  postingdate sourcecode  ...                                description   userid
0  28/01/2022     GENJNL  ...        MEDICAL REFUND - JOAN SHARON MUYERA  PGAKONO
1  28/01/2022     GENJNL  ...  MEDICAL REFUND - ABDIKADIR IBRAHIM DIRIYE  PGAKONO

[2 rows x 10 columns]

In [240]:
pd.set_option('mode.chained_assignment', None)

df['businessunitcode']=df['businessunitcode'].astype('str')
df['departmentcode']=df['departmentcode'].astype('str')

In [254]:
# Drop all reversed Entries

df_reversed=df[df['sourcecode']=='REVERSAL']

doc_no_reversed=[]
for x in df_reversed['documentno']:
  doc_no_reversed.append(x)

rows_to_drop=df.query('documentno==@doc_no_reversed')
indexName=rows_to_drop.index
df.drop(indexName, inplace=True)

df['sourcecode'].unique()

array(['GENJNL', 'PAYMENTJNL', 'JOBGLJNL', 'CASHRECJNL'], dtype=object)

In [252]:
# Drop all sweep posted to that account

drop_mpesa_sweep=df.query('balaccountno=="B302010*" | balaccountno=="B301010"').index
df.drop(drop_mpesa_sweep,inplace=True)

In [255]:
df['type']=df['documentno'].str[:3]

for x in df['type'].unique():
    print(x,end=',')

MED,PC0,FLT,CRE,GJN,JJN,R00,

In [243]:
for x in df['type'].unique():
    print(x,end=',')

MED,PC0,FLT,CRE,GJN,JJN,R00,

In [244]:
mask=df['type'].str.contains('MED|PC0|FLT|CRE|GJN')
df[mask]

     postingdate  sourcecode  ...   userid type
0     28/01/2022      GENJNL  ...  PGAKONO  MED
1     28/01/2022      GENJNL  ...  PGAKONO  MED
2     28/01/2022      GENJNL  ...  PGAKONO  MED
3     28/01/2022      GENJNL  ...  PGAKONO  MED
4     28/01/2022  PAYMENTJNL  ...  PGAKONO  PC0
...          ...         ...  ...      ...  ...
9826  01/09/2021      GENJNL  ...   FMUEMA  FLT
9827  01/09/2021      GENJNL  ...   LBUNDI  CRE
9828  01/09/2021      GENJNL  ...   LBUNDI  CRE
9829  01/09/2021      GENJNL  ...   LBUNDI  CRE
9830  01/09/2021      GENJNL  ...   LBUNDI  CRE

[9734 rows x 11 columns]

In [245]:

# df.query('balaccountno=="P100500" & type=="GJN"')
# pattern='casual payment'
# # mask1=

# mask=df['description'].str.contains(pattern,case=False,na=False)

# df[mask]

In [246]:
# df.to_csv('excel.csv')